[Unit]
Description=display ready check
Before=default.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'sway --get-socketpath 2>/dev/null || { echo "Display not ready" && false ;}'
Restart=on-failure
RemainAfterExit=yes

[Install]
RequiredBy=default.target
