[Unit]
Description=locking the screen
OnSuccess=unlock.target
# When lock.target is stopped, stops this too:
PartOf=lock.target
# Delay lock.target until this service is ready:
After=lock.target

[Service]
ExecStart=/usr/bin/hyprlock
Restart=on-failure
RestartSec=0

[Install]
RequiredBy=lock.target
