[Unit]
Description=providing git signingKey
PartOf=smartcard.target
Before=smartcard.target
ReloadPropagatedFrom=smartcard.target

[Service]
Type=oneshot
ExecStart=/bin/env update-git-signing-key
RemainAfterExit=yes
ExecStop=/bin/env update-git-signing-key --remove

[Install]
WantedBy=smartcard.target
