[Unit]
Description=providing git signingKey
After=dev-yubikey.device
ReloadPropagatedFrom=dev-yubikey.device
BindsTo=dev-yubikey.device

[Service]
Type=oneshot
ExecStart=/bin/env update-git-signing-key
RemainAfterExit=yes
ExecStop=/bin/env update-git-signing-key --remove

[Install]
WantedBy=dev-yubikey.device
