[Unit]
Description=XDG Autostart (via dex)
After=default.target

[Service]
Type=oneshot
ExecStart=dex -a
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=default.target
