configuration {
 modi: "window,drun,emoji,ssh";
 matching: "fuzzy";
 sort: true;
 sorting-method: "fzf";
 kb-accept-entry: "Return";
 kb-remove-to-eol: "";
 kb-row-down: "Control+j";
 kb-row-up: "Control+k";
}

@theme "solarized"
