"*":
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
    ]
    excludeVcsIgnoredPath: true
    projectHome: "~"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndent: true
    fontFamily: "Anonymous Pro for Powerline"
    preferredLineLength: 80
    showInvisibles: true
    fontSize: 11
    showIndentGuide: true
    showLineNumbers: true
    softTabs: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "auto"
  "markdown-preview-plus": {}
  "platformio-ide-terminal":
    ansiColors: # solarized dark
      bright:
        black:
          alpha: 1
          blue: 54
          green: 43
          red: 0
        blue:
          alpha: 1
          blue: 150
          green: 148
          red: 131
        cyan:
          alpha: 1
          blue: 161
          green: 161
          red: 147
        green:
          alpha: 1
          blue: 117
          green: 110
          red: 88
        purple:
          alpha: 1
          blue: 196
          green: 113
          red: 108
        red:
          alpha: 1
          blue: 22
          green: 75
          red: 203
        white:
          alpha: 1
          blue: 227
          green: 246
          red: 253
        yellow:
          alpha: 1
          blue: 131
          green: 123
          red: 101
      normal:
        Black:
          alpha: 1
          blue: 66
          green: 54
          red: 7
        blue:
          red: 38
          green: 139
          blue: 210
          alpha: 1
        cyan:
          red: 42
          green: 161
          blue: 152
          alpha: 1
        green:
          red: 133
          green: 153
          blue: 0
          alpha: 1
        purple:
          alpha: 1
          blue: 130
          green: 54
          red: 211
        red:
          red: 220
          green: 50
          blue: 47
          alpha: 1
        white:
          red: 238
          green: 232
          blue: 213
          alpha: 1
        yellow:
          red: 181
          green: 137
          blue: 0
          alpha: 1
    core:
      shell: "/usr/local/bin/fish"
    style:
      fontFamily: "Anonymous Pro for Powerline"
      fontSize: "10"
  "spell-check": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
".cson.source":
  editor:
    tabLength: 2
".gfm.source":
  editor:
    showIndentGuide: false
    showLineNumbers: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
".html.source":
  editor:
    tabLength: 2
