[Unit]
Description=`pass` db sync
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env pass-sync --down
Restart=on-failure
RemainAfterExit=yes
ExecStop=/usr/bin/env pass-sync --up

[Install]
WantedBy=default.target
