"*":
  "autocomplete-python":
    enableTouchBar: true
    useKite: false
  core:
    audioBeep: false
    disabledPackages: [
      "styleguide"
    ]
    packagesWithKeymapsDisabled: [
      "git-blame"
    ]
    telemetryConsent: "no"
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "Iosevka Term"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "d8d2140e-4858-46b2-8b74-8d3a5079f662"
  "git-blame":
    showOnlyLastNames: true
  "linter-flake8":
    maxLineLength: 120
    projectConfigFile: [
      "tox.ini"
    ]
    pycodestyleErrorsToWarnings: true
  "linter-mypy":
    checkUntypedDefs: false
    disallowAnyDecorated: false
    disallowAnyExplicit: false
    disallowAnyExpr: false
    disallowAnyGenerics: false
    disallowAnyUnannotated: false
    disallowAnyUnimported: false
    disallowSubclassingAny: false
    disallowUntypedDefs: false
    followImports: "skip"
    warnMissingImports: false
  "linter-pycodestyle":
    maxLineLength: 120
  "linter-pylint":
    rcFile: "%p/pylint.rc"
  "linter-ui-default":
    panelHeight: 150
    showPanel: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pretty-json":
    prettifyOnSaveJSON: true
  welcome:
    showOnStartup: false
