packages: [
  "auto-update-packages"
  "autocomplete-python"
  "busy-signal"
  "ex-mode"
  "git-blame"
  "git-status"
  "intentions"
  "language-docker"
  "language-terraform"
  "linter"
  "linter-flake8"
  "linter-js-yaml"
  "linter-json-lint"
  "linter-mypy"
  "linter-pycodestyle"
  "linter-pydocstyle"
  "linter-pylint"
  "linter-python-pep257"
  "linter-python-pep8"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "pretty-json"
  "solarized-dark-ui"
  "sort-lines"
  "status-bar-blame"
  "terraform-fmt"
  "tree-view-git-status"
  "vim-mode-plus"
  "vim-mode-plus-exchange"
]
