[Unit]
Description=%u home dir ready check
Before=default.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'while [ -d %h.cipher ] && ! { mount | grep "%h.cipher on %h" ; } >/dev/null ; do >&2 echo "Home not ready" ; sleep 1 ; done'
Restart=on-failure
RemainAfterExit=yes

[Install]
RequiredBy=default.target
